set mouse
set autoindent
set tabsize 4
set tabstospaces
set breaklonglines
set softwrap
set smarthome
set afterends
set atblanks
set boldtext
set brackets "\"')>]}"
set matchbrackets "(<[{)>]}"
set casesensitive
set fill -8
# set historylog
set linenumbers
# set morespace
set positionlog
#set rebinddelete
# set smooth
set regexp
set trimblanks
set whitespace "»·"
set constantshow
set titlecolor brightwhite,blue
set statuscolor brightwhite,green
set selectedcolor brightwhite,magenta
set numbercolor cyan
set keycolor cyan
set functioncolor green
# include "/home/stephane/.nano/*.nanorc"
